<div class="packageSelectionDiv">
  <div class="container">
    <div class="row center">
      <%= form_for @booking do |booking_form| %>
      <%#= booking_form.text_field :time %>
      <div class="input-field col s12 m6 white">
        <%= booking_form.text_field :date, class: 'datepicker', id: 'date_selector', placeholder: 'Select Date' %>
        <!-- This is the datepicker in rails format -->
      </div>

      <div class="input-field col s12 m6 white time_selector">
        <%= booking_form.select :time,
        options_for_select([
          ["Select Timeslot", "0"],
          ["11:00AM", "1"],
          ["11:30AM", "2"],
          ["12:00PM", "3"],
          ["12:30PM", "4"],
          ["13:00PM", "5"],
          ["13:30PM", "6"],
          ["14:00PM", "7"],
          ["14:30PM", "8"],
          ["15:00PM", "9"],
          ["15:30PM", "10"],
          ["16:00PM", "11"],
          ["16:30PM", "12"],
          ["17:00PM", "13"],
          ["17:30PM", "14"],
          ["18:00PM", "15"],
          ["18:30PM", "16"],
          ["19:00PM", "17"],
          ["19:30PM", "18"],
          ["20:00PM", "19"],
          ["20:30PM", "20"]
          ]), {}, { :class => 'time_dropdown', :disabled => false } # disabled true to disable. fix the onset date disabled = false else true
          %>
        </div>



        <!-- ################# Services ################# -->
        <table class="highlight bordered white packageSelectionTable">
          <thead>
            <tr>
              <th>Package</th>
              <th class="description">Description</th>
              <th>Price(SGD)</th>
              <th>Duration</th>
              <th>Select</th>
            </tr>
          </thead>

          <tbody>
            <% @all_services.each do |service| %>
            <tr>
              <td><%= service.name %></td>
              <td><%= service.description %></td>
              <td><%= service.price.to_i %></td>
              <td><%= service.slots_taken * 0.5 %>hr</td>
              <!-- <td><%= service.therapist.name %></td> -->
              <td>
                <input type="checkbox" name="booking[services_list][<%= service.id %>]" id="checkbox<%= service.id %>" class="service_checkbox checkboxCustom"/>
                <label for="checkbox<%= service.id %>"></label>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= hidden_field_tag(:stripeToken) %>
        <%= booking_form.submit 'Proceed To Payment', :class => 'waves-effect red lighten-2 btn-large submitBtn' %>
        <% end %>

        <%= form_tag charges_path do %>
        <article>
          <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
          <% end %>
        </article>
        <!-- <script src="https://checkout.stripe.com/checkout.js">
      </script> -->
      <% end %>

    </div>
  </div>
</div>

<div class="divider" id="about"></div>

<div class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-fixed-item center">
  </div>
  <div class="carousel-item red white-text pkg1Carou" href="#one!">
    <h6 class="pkgCarouTopText">Swipe left or right to see more!</h6>
    <h1 class="pkgCarouTitle">The Day's Respite</h1>
    <h6>Our most popular therapeutic massage type, the light to medium pressure helps relieve stress, reduce pain, boost mood and promote relaxation.</h6>
  </div>
  <div class="carousel-item amber white-text pkg2Carou" href="#two!">
    <h6 class="pkgCarouTopText">Swipe left or right to see more!</h6>
    <h1 class="pkgCarouTitle">The Gentleman</h1>
    <h6>We prepare you for the trials of a social event. We'll make you look as good as we make you feel.</h6>
  </div>
  <div class="carousel-item green white-text pkg3Carou" href="#three!">
    <h6 class="pkgCarouTopText">Swipe left or right to see more!</h6>
    <h1 class="pkgCarouTitle">The Tenderizer</h1>
    <h6>We focus on the deepest layers of muscle tissue, tendons and fascia, transforming your tight, aching and sore body into a relaxed one.</h6>
  </div>
  <div class="carousel-item green white-text pkg3Carou" href="#three!">
    <h6 class="pkgCarouTopText">Swipe left or right to see more!</h6>
    <h1 class="pkgCarouTitle">The "Kick Back & Relax"</h1>
    <h6>The longest package, we focus on both your physical and mental well-being. At the end of the treatment, you will have forgotten about the stresses of the day.</h6>
  </div>
  <div class="carousel-item green white-text pkg3Carou" href="#three!">
    <h6 class="pkgCarouTopText">Swipe left or right to see more!</h6>
    <h1 class="pkgCarouTitle">The Busy Man</h1>
    <h6>For the informed man, we take half an hour of your busy day to ensure that your muscles have relaxed, you feel refreshed, and that your tensions have melted away.</h6>
  </div>
</div>

<div class="divider"></div>

<div class="aboutDiv center">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3 class="aboutTitle">About Us</h3>
        <section class="aboutDescription">
          <p>The Day's Respite provides a quiet refuge with services that will take you far away from the grind of work and meetings.</p>
          <p>Feeling tired and sore, and looking for a place to kick back, relax, and pamper yourself? </p>
          <p>Drop by for awhile, and we guarantee that you will leave feeling refreshed and ready to take the day on!</p>
        </section>
      </div>
    </div>
  </div>

</div>
