<!-- ################# Select Timing & Therapist ################# -->
<div class="backgrd">
  <!-- <%= image_tag( root_url + "images/abstract.png") %> -->
  <div class="container">

    <div class="input-field col s12 m6 l4 white">
      <select class="icons">
        <option value="" disabled selected>Choose Your Therapist</option>
          <option value="" data-icon="images/sample-1.jpg" class="left circle">example 1</option>
          <option value="" data-icon="images/office.jpg" class="left circle">example 2</option>
          <option value="" data-icon="images/yuna.jpg" class="left circle">example 3</option>
      </select>

      <div class="input-field col s12 m6 l4 white">
        <select class="icons">
          <option value="" disabled selected>Choose Your Timing</option>
          <option value="" data-icon="images/sample-1.jpg" class="left circle">example 1</option>
          <option value="" data-icon="images/office.jpg" class="left circle">example 2</option>
          <option value="" data-icon="images/yuna.jpg" class="left circle">example 3</option>
          </select>
      </div>
    </div>



<table class="highlight bordered white" id="table">
          <thead>
            <tr>
              <th>Service</th>
              <th class="description">Description</th>
              <th class="price">Price</th>
              <th>Therapist</th>
              <th>Select</th>
            </tr>
          </thead>

          <tbody>
            <% @all_services.each do |service| %>
              <tr>
                <td>
                  <%= service.name %>
                </td>
                <td>
                  <%= service.description %>
                </td>
                <td>
                  <%= service.price.to_i %>
                </td>
                <td>
                  <%= service.therapist.name %>
                </td>
                <td>
                  <input type="checkbox" id="<%= service.id %>" />
                  <label for="<%= service.id %>"></label>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <button class="btn waves-effect waves-light" id="submit-btn" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
  </div>
</div>


<!-- ################# About ################# -->
<section class="section section-light" id="about">
  <h3>About Us</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisiporibus ex, omnis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. dolor repellendus ratione in. Lorem ipsum dolor sit amet, consectetur adipisiporibus ex, omnis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. dolor repellendus ratione in.</p>

    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h4 class="center brown-text">
            <i class="material-icons">airline_seat_recline_extra</i>
          </h4>
          <h6 class="center">Catered For You</h6>
        </div>
      </div>


      <div class="col s12 m4">
        <div class="icon-block">
          <h4 class="center brown-text">
            <i class="material-icons">alarm_off</i>
          </h4>
          <h6 class="center">No Interruptions</h6>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h4 class="center brown-text">
            <i class="material-icons">mood</i>
          </h4>
          <h6 class="center">Fuss Free</h6>
        </div>
      </div>
    </div>
</section>

<div class="pics">
    <div class="row">
          <div class="col s12 m4 l2">
            <%= image_tag( root_url + "images/aroma.png", size: "320x210") %>
          </div>

          <div class="col s12 m4 l2">
            <%= image_tag( root_url + "images/massage.png", size: "320x210") %>
          </div>

          <div class="col s12 m4 l2">
            <%= image_tag( root_url + "images/hair.png", size: "320x210") %>
          </div>

          <div class="col s12 m4 l2">
            <%= image_tag( root_url + "images/shave.png", size: "320x210") %>
          </div>

          <div class="row">
            <div class="col s12 m6 l3" id="about-pic2"></div>
            <%= image_tag( root_url + "images/place.png", size: "1300x300") %>
          </div>

    </div>
  </div>
    </div>




<!-- ################# Contact Us ################# -->

<div class="container">

    <div class="row">
        <div class="col s12 m6">
          <p>Email: email@email.com</p>
          <p>Phone: 6543 2130</p>
          <p>Address: 123 Shan Road</p>

          <div class="social-icons">
              <ul>
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
        </div>

  <div class="row">
        <div class="col s12 m6">
          <form method="post" action="/contactus">
            <h5>Contact Us</h5>
            <div>
              <input type="text" class="text" name="name" placeholder="Name">
            </div>

            <div>
              <input type="email" class="text" name="email" placeholder="Email">
            </div>

            <div>
              <input type="tel" class="phone" name="email" placeholder="Phone">
            </div>

            <div class="row-message">
                <textarea id="message" class="form-control" name="message" placeholder="Your Message" rows="5" required></textarea>
            </div>
            <button name="submit" class="btn submit-btn" type="submit" id="submit">Send</button><br/>
          </form>

          <div class="col s12 m6">


        </div>
      </div>
    </div>
  </div>
</div>
