<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">

<!-- ################# Services ################# -->
        <table class="highlight bordered teal lighten-2">
          <thead>
            <tr>
              <th>Service Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Therapist</th>
              <th>Select</th>
            </tr>
          </thead>

          <tbody>
            <% @all_services.each do |service| %>
            <tr>
              <td><%= service.name %></td>
              <td><%= service.description %></td>
              <td><%= service.price %></td>
              <td><%= service.therapist.name %></td>
              <td>
                <input type="checkbox" id="<%= service.id %>" />
                <label for="<%= service.id %>">Select</label>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
<!-- ################# End Services ################# -->
        <div>
          <div class="input-field col s12 m6 teal">
            <select class="icons">
              <option value="" disabled selected>Choose Your Therapist</option>
              <option value="" data-icon="images/sample-1.jpg" class="left circle">example 1</option>
              <option value="" data-icon="images/office.jpg" class="left circle">example 2</option>
              <option value="" data-icon="images/yuna.jpg" class="left circle">example 3</option>
            </select>
          </div>

          <div class="input-field col s12 m6 teal">
            <select class="icons">
              <option value="" disabled selected>Choose Your Timing</option>
              <option value="" data-icon="images/sample-1.jpg" class="left circle">example 1</option>
              <option value="" data-icon="images/office.jpg" class="left circle">example 2</option>
              <option value="" data-icon="images/yuna.jpg" class="left circle">example 3</option>
            </select>
          </div>

          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
