<!DOCTYPE html>
<html>
  <head>
    <title>Proj 3 Speed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  </head>

  <body>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <!-- Nav bar -->
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <%= link_to "Logo", root_path, class: "brand-logo", id: "logo-container" %>

        <ul class="right hide-on-med-and-down">
          <li><%= link_to "About", about_path, class: "nav-link" %></li>
          <li><%= link_to "Login", "#", class: "activate-side", 'data-activates': 'slide-out' %></li>
          <li><%= link_to "Register", "#", class: "activate-side", 'data-activates': 'slide-out' %></li>
          <!-- <li><%#= link_to "Signup", new_user_registration_path, class: "nav-link" %></li> -->
        </ul>


    <!-- Slideout bar -->
    <ul id="slide-out" class="side-nav">
       <li><div class="user-view">
         <div class="background">
           <img src="images/bg_about.jpg">
         </div>
         <a href="#!user"><img class="circle" src="#"></a>
         <a href="#!name"><span class="white-text name">John Doe</span></a>
         <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
       </div></li>
       <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
       <li><a href="#!">Second Link</a></li>
       <li><div class="divider"></div></li>
       <li><a class="subheader">Subheader</a></li>
       <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
     </ul>



    <%= yield %>


<footer>
  <div class="footer-copyright">
    <div class="container">
      <a href="https://github.com/emjys/project-3"><strong>MennStop</strong></a>&nbsp&copy 2017 &nbsp | &nbsp All Rights Reserved &nbsp | &nbsp
      <a href="/" class="page-scroll">Top<span class="fa fa-angle-up"></span></a></a>
    </div>
  </div>
</footer>

    <!-- Footer -->
    <footer class="page-footer teal">
        <div class="footer-copyright">
          <div class="container">
          Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
          </div>
        </div>
    </footer>
  </body>
</html>
