<!DOCTYPE html>
<html>

<head>
  <title> • Project 3 • </title>
  <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav>
    <div class="navbar">
          <ul class="navbar-nav">
              <li><%= link_to "Logo", root_path, class: "logo" %></li>

              <li class="nav-item">
                <%= link_to "Home", root_path, class: "nav-link" %>
              </li>

              <li class="nav-item">
                <%= link_to "About", about_path, class: "nav-link" %>
              </li>

              <li class="nav-item">
                <%= link_to "Services", services_path, class: "nav-link" %>
              </li>

              <li class="nav-item right">
                <%= link_to "Login", login_path, class: "nav-link" %>

              <li class="nav-item right">
                <%= link_to "Signup", signup_path, class: "nav-link" %>
              </li>
          </ul>
      </div>
  </nav>

  <%= yield %>

</body>
</html>