<!DOCTYPE html>
<html>

<head>
  <title>The Day's Respite - Spa for men</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
</head>

<body>

  <!-- <div class="navbar-fixed"> -->
  <nav>
    <div class="nav-wrapper">
      <%= link_to "The Day's Respite", root_path, class: "brand-logo center", id: "logo-container" %>

      <% if current_user %> <!-- If logged in -->
      <ul class="right right hide-on-med-and-down">
        <li><%= link_to "About", '#about', class: "nav-link" %></li>
        <li><%= link_to "Contact", '#contact', class: "nav-link" %></li>
        <li><%= link_to current_user.email, edit_user_registration_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
      </ul>

      <% else %> <!-- If not logged in -->
      <ul class="right right hide-on-med-and-down">
        <li><%= link_to "About", '#about', class: "nav-link" %></li>
        <li><%= link_to "Contact", '#contact', class: "nav-link" %></li>
        <li><%= link_to "Login", "?form=login", class: "activate-side", 'data-activates': 'slide-out' %></li>
        <li><%= link_to "Sign Up", "?form=signup", class: "activate-side", 'data-activates': 'slide-signup' %></li>
      </ul>
      <% end %>
    </div>
  </nav>

<!-- Login Sidenav -->
<div id="slide-out" class="side-nav">
  <%= form_for(:user, url: session_path(:user)) do |f| %>
  <h4>Login</h4>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <div class="actions">
    <%= f.submit "Login" %><br/><br/>
    <%= link_to "Forgot your password?", new_user_password_path %><br><br>
    <%= link_to "Sign Up", "?form=signup", class: "activate-side", 'data-activates': 'slide-signup' %>
  </div>
  <% end %>
</div>


<!-- Signup Sidenav -->
<div id="slide-signup" class="side-nav">
  <h4>Sign Up</h4>
  <%= form_for @user, url: user_registration_path do |f| %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, autofocus: 'autofocus' %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, autocomplete: 'email' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <em>(6 characters minimum)</em><br>
    <%= f.password_field :password, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, autocomplete: 'off' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign Up"%><br><br>
    <!-- <%= link_to "Login", "?form=login", class: "activate-side", 'data-activates': 'slide-out' %> -->
  </div>
  <% end %>
</div>


<%= yield %>


<footer class="page-footer" id="contact">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Find Us</h5>
        <p class="grey-text text-lighten-4">12 Jalan Kebabski #01-02</p>
        <p class="grey-text text-lighten-4">Kebab Walk, Singapore 101101</p>
        <p class="grey-text text-lighten-4">+65 6123 4567</p>
        <p class="grey-text text-lighten-4">contact@thedaysrespite.sg</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Location on Google Maps</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      <p>© 2018 <a href="https://github.com/speedchan/project-3">The Day's Respite</a></p>
    </div>
  </div>
</footer>

</body>
</html>
