<!DOCTYPE html>
<html>
  <head>
    <title> • Project 3 • </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  </head>

  <body>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <!-- Nav bar -->
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "About", about_path, class: "nav-link" %></li>
          <li><%= link_to "Login", login_path, class: "nav-link" %></li>
          <li><%= link_to "Signup", signup_path, class: "nav-link" %></li>
        </ul>
    </nav>

    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i>Hi</a>

    <!-- Slideout bar -->
    <ul id="slide-out" class="side-nav">
       <li><div class="user-view">
         <div class="background">
           <img src="images/bg_about.jpg">
         </div>
         <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
         <a href="#!name"><span class="white-text name">John Doe</span></a>
         <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
       </div></li>
       <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
       <li><a href="#!">Second Link</a></li>
       <li><div class="divider"></div></li>
       <li><a class="subheader">Subheader</a></li>
       <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
     </ul>



    <%= yield %>



    <!-- Footer -->
    <footer class="page-footer teal">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">title</h5>
              <p class="grey-text text-lighten-4">hello</p>
            </div>

            <div class="col l3 s12">
              <h5 class="white-text">Contact Us</h5>
              <ul>
                <li><a class="white-text" href="#!">asdf</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="footer-copyright">
          <div class="container">
          Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
          </div>
        </div>
    </footer>
  </body>
</html>

<!--
This is the main layout file
Probably for nav bar and footer
-->
