<!DOCTYPE html>
<html>
  <head>
    <title> • Project 3 • </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  </head>

  <body>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <!-- Nav bar -->
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "About", about_path, class: "nav-link" %></li>
          <li><%= link_to "Login", login_path, class: "nav-link" %></li>
          <li><%= link_to "Signup", signup_path, class: "nav-link" %></li>
        </ul>

  </nav>

    <!-- <div>
      <ul class="icons" id="social-icons">
        <a href="https://www.facebook.com" class="fa fa-facebook"></a>
        <a href="https://twitter.com" class="fa fa-twitter"></a>
        <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
        <a href="https://www.instagram.com" class="fa fa-instagram"></a>
      </ul>
    </div> -->



    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

    <!-- Slideout bar -->
    <ul id="slide-out" class="side-nav">
       <li><div class="user-view">

         <a href="#!name"><span class="white-text name">John Doe</span></a>
         <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
       </div></li>
       <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
       <li><a href="#!">Second Link</a></li>
       <li><div class="divider"></div></li>
       <li><a class="subheader">Subheader</a></li>
       <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
     </ul>



    <%= yield %>


<footer>
  <div class="footer-copyright">
    <div class="container">
      <a href="https://github.com/emjys/project-3"><strong>MennStop</strong></a>&nbsp&copy 2017 &nbsp | &nbsp All Rights Reserved &nbsp | &nbsp
      <a href="/" class="page-scroll">Top<span class="fa fa-angle-up"></span></a></a>
    </div>
  </div>
</footer>

</body>
</html>
